<h1>Bem-vindo ao Cookbook</h1>

<!-- <a href="/recipes/new"> Cadastras Receita</a> -->
<!-- O link_to faz algo muito similar ao <a> do html -->
<%= link_to 'Cadastrar Receita', new_recipe_path %>

<% @recipes.each do |recipe| %>
  <h3><%= recipe.title %></h3>
  <dl>
    <dt>Cozinha</dt>
    <dd><%= recipe.cuisine %></dd>
    <dt>Tipo</dt>
    <dd><%= recipe.recipe_type %></dd>
    <dt>Tempo de preparo</dt>
    <dd><%= recipe.cook_time %> minuto(s)</dd>
    <dt>Ingredientes</dt>
    <dd><%= recipe.ingredients %></dd>
    <dt>Modo de preparo</dt>
    <dd><%= recipe.cook_method %></dd>
  </dl>
<% end %>
